In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge
import time
import math


df = pd.read_csv('games.csv')
df_record = pd.read_csv('ranking.csv')
df_gamestats = pd.read_csv('games_details.csv')
df['GAME_DATE_EST'] = pd.to_datetime(df['GAME_DATE_EST'])
df.head()

In [ ]:
df['total_points'] = df['PTS_home'] + df['PTS_away']
df['point_difference'] = df['PTS_home'] - df['PTS_away']
df

In [ ]:
df['home_win'] = np.where(df['point_difference'] > 0, 1, 0)
df['home_loss'] = np.where(df['point_difference'] < 0, 1, 0)
df

In [ ]:
df_visitor = pd.get_dummies(df['VISITOR_TEAM_ID'], dtype=np.int64)
df_home = pd.get_dummies(df['HOME_TEAM_ID'], dtype=np.int64)

In [ ]:
df_model = df_home.sub(df_visitor) 
df_model['point_difference'] = df['point_difference']

In [ ]:
df_pels = df.loc[df['HOME_TEAM_ID'] == 'Pelicans']
df_cel = df.loc[df['HOME_TEAM_ID'] == 'Celtics']
df_nets = df.loc[df['HOME_TEAM_ID'] == 'Nets']
df_knicks= df.loc[df['HOME_TEAM_ID'] == 'Knicks']
df_76ers = df.loc[df['HOME_TEAM_ID'] == '76ers']
df_raptors = df.loc[df['HOME_TEAM_ID'] == 'Raptors']
df_bulls = df.loc[df['HOME_TEAM_ID'] == 'Bulls']
df_cavas = df.loc[df['HOME_TEAM_ID'] == 'Calivers']
df_pistons = df.loc[df['HOME_TEAM_ID'] == 'Pistons']
df_pacers = df.loc[df['HOME_TEAM_ID'] == 'Pacers']
df_bucks = df.loc[df['HOME_TEAM_ID'] == 'Bucks']
df_hawks = df.loc[df['HOME_TEAM_ID'] == 'Hawks']
df_hornets = df.loc[df['HOME_TEAM_ID'] == 'Hornets']
df_heat = df.loc[df['HOME_TEAM_ID'] == 'Heat']
df_magic = df.loc[df['HOME_TEAM_ID'] == 'Magic']
df_wizards = df.loc[df['HOME_TEAM_ID'] == 'Wizards']
df_nuggets = df.loc[df['HOME_TEAM_ID'] == 'Nuggets']
df_wolvers = df.loc[df['HOME_TEAM_ID'] == 'Timberwolves']
df_thunder = df.loc[df['HOME_TEAM_ID'] == 'Thunder']
df_blazers = df.loc[df['HOME_TEAM_ID'] == 'Blazers']
df_jazz = df.loc[df['HOME_TEAM_ID'] == 'Jazz']
df_warriors = df.loc[df['HOME_TEAM_ID'] == 'Warriors']
df_clippers = df.loc[df['HOME_TEAM_ID'] == 'Clippers']
df_lakers = df.loc[df['HOME_TEAM_ID'] == 'Lakers']
df_suns = df.loc[df['HOME_TEAM_ID'] == 'Suns']
df_kings = df.loc[df['HOME_TEAM_ID'] == 'Kings']
df_mavs = df.loc[df['HOME_TEAM_ID'] == 'Mavericks']
df_rockets = df.loc[df['HOME_TEAM_ID'] == 'Rockets']
df_grizzlies = df.loc[df['HOME_TEAM_ID'] == 'Grizzlies']
df_spurs = df.loc[df['HOME_TEAM_ID'] == 'Spurs']

In [ ]:
#pelicans vs the spurs
pelspurs = df.loc[(df['HOME_TEAM_ID'] == 'Pelicans') & (df['VISITOR_TEAM_ID'] == 'Spurs') & (df['GAME_DATE_EST'] >= '2020-01-22')]
spurspels = df.loc[(df['HOME_TEAM_ID'] == 'Spurs') & (df['VISITOR_TEAM_ID'] == 'Pelicans')  & (df['GAME_DATE_EST'] >= '2020-01-22')]
pelicanGames = df.loc[(df['HOME_TEAM_ID'] == 'Pelicans') | (df['VISITOR_TEAM_ID'] == 'Pelicans') & (df['GAME_DATE_EST'] >= '2022-10-4')]


print("The Pelicans have won:", (pelspurs['home_win'].sum()), "vs the spurs since 2020")
print("The Spurs have won:", (spurspels['home_win'].sum()), "vs the pelicans since 2020")
average = (pelspurs['total_points'].sum() + spurspels['total_points'].sum()) / (pelspurs.shape[0] + spurspels.shape[0])
print("Their average total points for these games are:",average)

average_difference = (pelspurs['point_difference'].abs().sum() + spurspels['point_difference'].abs().sum()) / ((pelspurs.shape[0] + spurspels.shape[0]))
print("The average point difference is:", average_difference, "between the Pelicans and Spurs")

In [ ]:
#sixers vs hawks
sixershawks = df.loc[(df['HOME_TEAM_ID'] == '76ers') & (df['VISITOR_TEAM_ID'] == 'Hawks') & (df['GAME_DATE_EST'] >= '2020-02-24')]
hawks76ers = df.loc[(df['HOME_TEAM_ID'] == 'Hawks') & (df['VISITOR_TEAM_ID'] == '76ers') & (df['GAME_DATE_EST'] >= '2020-02-24')]

print("The 76ers have won:", (sixershawks['home_win'].sum()), "vs the hawks since 2020")
print("The Hawks have won:", (spurspels['home_win'].sum()), "vs the 76ers since 2020")
average = (sixershawks['total_points'].sum() + hawks76ers['total_points'].sum()) / (sixershawks.shape[0] + hawks76ers.shape[0])
print("Their average total points for these games are:",average)

average_difference = (sixershawks['point_difference'].abs().sum() + hawks76ers['point_difference'].abs().sum()) / ((sixershawks.shape[0] + hawks76ers.shape[0]))
print("The average point difference is:", average_difference, "between the hawks and 76ers")

In [ ]:
#heat vs wizards
heatwizards = df.loc[(df['HOME_TEAM_ID'] == 'Heat') & (df['VISITOR_TEAM_ID'] == 'Wizards') & (df['GAME_DATE_EST'] >= '2020-01-22')]
wizardsheat = df.loc[(df['HOME_TEAM_ID'] == 'Wizards') & (df['VISITOR_TEAM_ID'] == 'Heat') & (df['GAME_DATE_EST'] >= '2020-01-22')]




print("The Heat have won:", (heatwizards['home_win'].sum()), "vs the heat since 2020")
print("The Wizards have won:", (wizardsheat['home_win'].sum()), "vs the Wizards since 2020")
average = (heatwizards['total_points'].sum() + wizardsheat['total_points'].sum()) / (heatwizards.shape[0] + wizardsheat.shape[0])
print("Their average total points for these games are:",average)

average_difference = (heatwizards['point_difference'].abs().sum() + wizardsheat['point_difference'].abs().sum()) / ((heatwizards.shape[0] + wizardsheat.shape[0]))
print("The average point difference is:", average_difference, "between the heat and wizards")

In [ ]:
#pacers vs pistons
pacerspistons = df.loc[(df['HOME_TEAM_ID'] == 'Pacers') & (df['VISITOR_TEAM_ID'] == 'Pistons') & (df['GAME_DATE_EST'] >= '2021-04-21')]
pistonspacers = df.loc[(df['HOME_TEAM_ID'] == 'Pistons') & (df['VISITOR_TEAM_ID'] == 'Pacers') & (df['GAME_DATE_EST'] >= '2021-04-21')]
pacersgames = df.loc[(df['HOME_TEAM_ID'] == 'Pacers') & (df['GAME_DATE_EST'] >= '2022-10-5') | (df['VISITOR_TEAM_ID'] == 'Pacers') & (df['GAME_DATE_EST'] >= '2022-10-5') ]




print("The Pacers have won:", (pacerspistons['home_win'].sum()), "vs the Pistons since 2020")
print("The Pistons have won:", (pistonspacers['home_win'].sum()), "vs the Pacers since 2020")
average = (pacerspistons['total_points'].sum() + pistonspacers['total_points'].sum()) / (pacerspistons.shape[0] + pistonspacers.shape[0])
print("Their average total points for these games are:",average)

average_difference = (pacerspistons['point_difference'].abs().sum() + pistonspacers['point_difference'].abs().sum()) / ((pacerspistons.shape[0] + pistonspacers.shape[0]))
print("The average point difference is:", average_difference, "between the Pacers and Pistons")

In [ ]:
#Pacer averages
Pacershome = df.loc[(df['HOME_TEAM_ID'] == 'Pacers') & (df['GAME_DATE_EST'] >= '2022-10-12')]
Pacersaway = df.loc[(df['VISITOR_TEAM_ID'] == 'Pacers') & (df['GAME_DATE_EST'] >= '2022-10-05')]



homewins = Pacershome['home_win'].sum()
homelosses = Pacershome['home_loss'].sum()
awaywins = Pacersaway['home_loss'].sum()
awaylosses = Pacersaway['home_win'].sum()

homeaverage = Pacershome['PTS_home'].sum() / Pacershome.shape[0]
homeaverage

awayaverage = Pacersaway['PTS_away'].sum() / Pacersaway.shape[0]
awayaverage


print("The pacers have won", homewins, "this season at home")
print("THe pacers have loss", homelosses, "this season at home")
print("The pacers have won", awaywins, "this season away")
print("The pacers have loss", awaylosses, "this season at away")
print("The pacers average", homeaverage, "points at home")
print("The pacers average", awayaverage, "points away")

In [150]:
df_pels = df_gamestats.loc[(df_gamestats['TEAM_ABBREVIATION'] == ('NOP'))]
df_spurs = df_gamestats.loc[(df_gamestats['TEAM_ABBREVIATION'] == ('SAS'))]





#pelspursStats = df.loc[df_gamestats['TEAM_ABBREVIATION'] == 'SAS']

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
14,22200477,1610612740,NOP,New Orleans,1630530,Trey Murphy III,Trey,F,NaN,27:47,...,0.0,4.0,4.0,1.0,2.0,0.0,0.0,4.0,15.0,7.0
15,22200477,1610612740,NOP,New Orleans,1630230,Naji Marshall,Naji,F,NaN,24:46,...,2.0,3.0,5.0,2.0,0.0,0.0,2.0,3.0,7.0,3.0
16,22200477,1610612740,NOP,New Orleans,202685,Jonas Valanciunas,Jonas,C,NaN,25:50,...,5.0,5.0,10.0,1.0,1.0,0.0,2.0,5.0,16.0,10.0
17,22200477,1610612740,NOP,New Orleans,1630529,Herbert Jones,Herbert,G,NaN,34:26,...,1.0,2.0,3.0,2.0,2.0,1.0,2.0,2.0,12.0,16.0
18,22200477,1610612740,NOP,New Orleans,203468,CJ McCollum,CJ,G,NaN,37:11,...,1.0,7.0,8.0,9.0,1.0,2.0,5.0,1.0,40.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632372,11300003,1610612740,NOP,New Orleans,203481,Jeff Withey,NaN,NaN,NaN,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
632373,11300003,1610612740,NOP,New Orleans,201950,Jrue Holiday,NaN,NaN,NaN,27,...,0.0,2.0,2.0,3.0,0.0,0.0,8.0,6.0,13.0,NaN
632374,11300003,1610612740,NOP,New Orleans,202498,Lance Thomas,NaN,NaN,NaN,19,...,1.0,3.0,4.0,0.0,0.0,0.0,2.0,2.0,2.0,NaN
632375,11300003,1610612740,NOP,New Orleans,202351,Lazar Hayward,NaN,NaN,NaN,10,...,0.0,1.0,1.0,0.0,2.0,0.0,0.0,2.0,2.0,NaN
632376,11300003,1610612740,NOP,New Orleans,201936,Tyreke Evans,NaN,NaN,NaN,10,...,0.0,2.0,2.0,1.0,0.0,0.0,1.0,0.0,7.0,NaN